@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%; /* Finance Blue */
    --primary-foreground: 210 40% 98%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
  }

  /* Note: NativeWind looks for this .dark class on the root View */
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --card: 222.2 84% 5.9%; /* Slightly offset from background for depth */
    --card-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
  }
}
